
body {
  position: relative;
  font-family: poppins;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
}

body::before {
  content: "";
  background-image: url("..//assets/gunung.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;       /* ini opacity khusus background */
  position: absolute;
  inset: 0;           /* menutupi seluruh layar */
  z-index: -1;        /* biar di belakang konten */
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  padding: 10px 0;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scrollText 20s linear infinite;
}

.marquee-container :hover .marquee-content{
    animation-play-state: paused;
}

.marquee-content{
    display: inline-block;
    animation: scrollText 20s linear infinite;

}

.marquee-content span{
    display: inline-block;
    padding: 0 50px;
    font-weight: bold;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}








.container-navbar{
    background-image: linear-gradient(to right, rgb(17, 138, 50,5), transparent);
    border-bottom: 3px solid #c6c7c7; /* warna dan tebal garis */
    border-radius: 5px;
    padding: 10px;
    
}


.ul-navbar{
    list-style-type: none;
    height: 75px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: right;
            
}

.li-navbar{
    padding: 10px;
    padding: 15px;
    height: fit-content;
    color: firebrick;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    flex: 1;
}

.card, .card-login {
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to top, rgb(48, 233, 88), rgb(133, 133, 138));
    border-radius: 15px;
    padding: 25px 30px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-card-login,
.btn-card-register {
  width: 100%;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-card-login:hover,
.btn-card-register:hover {
  background-color: #008000;
}

.card .container {
    display: flex;
    flex-direction: column;  

            
}

.inputan-login{
    gap: 15px;
    flex-direction: column;
    display: flex;
    width: 100%;
    align-items: center;
    
           
}

.input-card-email, .input-card-password{
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
            
 
}

.btn-nav{
    background-color: transparent;
    color: rgb(49, 77, 16);
    border: 2px solid green;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.btn-nav:hover {
  background-color: #148f4d;
  color: white;
  border-color: #148f4d;
}

.btn-nav-login {
  border-color: #0b7035
}

.btn-nav-register {

  border-color: #00a74a;
}

/*register*/
.link{
    color: rgb(255, 255, 255);        /* warna biru */
    text-decoration: none; /* hilangkan garis bawah */
    cursor: pointer;

}
.link:hover{
        text-decoration: underline;
}



.input-card-email input,
.input-card-password input {
    width: 100%;                /* isi penuh parent */
    height: 35px;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;     /* biar border/padding dihitung ke lebar total */
    border-radius: 4px;
}


        
        
/* .bagian-1, .bagian-2{
            
    background: wheat;
    border: 5px solid blue;
    padding: 30px;
    width: 250px;
} */
        
p{
    font-size: 20px;
    color: firebrick;       
}

.option-log{
    display:grid;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}


.option-log button:hover {
  background-color: rgb(14, 115, 45);
}


.option-log button{
  flex: 1;
  background-color: #1b7942;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer {
  background-color: rgb(0, 255, 255);
  color: black;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  position: relative; /* biar mengikuti alur halaman, tidak nempel terus */
  bottom: 0;
  width: 100%;
}


/* Responsive */
 @media(max-width: 700px) {
    .card-container {
    flex-direction: column;
            gap: 20px;
    }
}

